#root{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  box-sizing: border-box;
  min-height: 15%;
  max-height: 45%;
  width: 60%;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteBox {
  padding: 10px;
}

.quoteBox .btn {
  margin: auto;
  justify-content: end;
}

.quotes {
  max-height: 150px;
  margin-bottom: 0;
}
.quotes .author{
  margin-right: 3px;
  text-align: end;
}
